client
remote {{ item.remote }} {{ item.port }}
dev {{ item.interface }}
proto tcp-client

nobind
persist-key
persist-tun

cipher AES-256-CBC  
tls-cipher TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256:TLS-DHE-RSA-WITH-AES-128-GCM-SHA256:TLS-DHE-RSA-WITH-AES-128-CBC-SHA256  
tls-version-min 1.2  
remote-cert-tls server
verify-x509-name {{ item.verify_remote }} name

comp-lzo

verb 3
<ca>
{{ item.ca }}
</ca>
<cert>
{{ item.cert }}
</cert>
<key>
{{ item.key }}
</key>
